aeidon==1.12
alabaster==0.7.12
alembic==1.7.5
anyio==3.5.0
appdirs==1.4.4
argcomplete==2.0.0
argon2-cffi==21.1.0
arrow==1.2.1
asgiref==3.4.1
astroid==2.11.6
asttokens==2.0.5
async-generator==1.10
atomicwrites==1.4.0
attrs==21.4.0
Authlib==1.1.0
autobahn==21.2.2
Automat==22.10.0
autopep8==1.6.0
awscli==1.22.88
azure-common==1.1.22
azure-core==1.25.0
azure-identity==1.10.0
azure-mgmt-core==1.3.1
azure-mgmt-rdbms==10.2.0b1
azure-mgmt-resource==21.1.0b1
azure-mgmt-subscription==3.0.0
Babel==2.9.1
backcall==0.1.0
basemap==1.3.6
basemap-data==1.3.2
bcrypt==3.2.2
Beaker==1.10.0
beautifulsoup4==4.11.1
bidict==0.21.4
binaryornot==0.4.4
biopython==1.81
black==22.8.0
bleach==4.0.0
blessed==1.19.1
blessings==1.7
blinker==1.4
blivet==3.4.4
blivet-gui==2.3.0
bodhi-client==7.0.1
boto3==1.21.33
botocore==1.24.33
bottle==0.12.21
Bottleneck==1.3.2
bpython==0.24
breezy==3.2.1
Brlapi==0.8.4
Brotli==1.0.9
buildbot==3.3.0
buildbot-badges==3.3.0
buildbot-console-view==3.3.0
buildbot-grid-view==3.3.0
buildbot-waterfall-view==3.3.0
buildbot-worker==3.3.0
buildbot-wsgi-dashboards==3.3.0
buildbot-www==3.3.0
cached-property==1.5.2
cairocffi==1.3.0
CairoSVG==2.7.0
Cartopy==0.21.1
catfish==4.16.4
CCColUtils==1.5
CDApplet==1.0
CDBashApplet==1.0
certifi==2021.10.8
cffi==1.15.0
cftime==1.5.2
chardet==4.0.0
charset-normalizer==2.0.11
Cheetah3==3.2.4
cheroot==8.6.0
CherryPy==18.8.0
click==8.1.3
cloudpickle==2.0.0
cobbler==3.3.3
colorama==0.4.4
configobj==5.0.6
constantly==15.1.0
construct==2.10.68
contextlib2==0.6.0.post1
cookiecutter==2.1.1
coverage==6.3
coveralls==3.3.0
cptrace==0.6.1
cryptography==36.0.0
cson==0.8
cssselect==0.9.2
cssselect2==0.6.0
cupshelpers==1.0
curtsies==0.4.1
cvxopt==1.3.0
cwcwidth==0.1.4
cycler==0.11.0
Cython==0.29.26
dasbus==1.6
dask==2022.11.1
dblatex==0.3.12
dbus-python==1.2.18
decorator==5.1.1
defusedxml==0.7.1
diff-match-patch==20200713
dill==0.3.4
distlib==0.3.4
distro==1.6.0
Django==4.0.2
dnspython==2.2.0
docker==5.0.3
docker-compose==1.29.2
docker-pycreds==0.4.0
dockerfile-parse==1.1.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.17.1
dulwich==0.20.32
eccodes==1.5.0
ecdsa==0.18.0
email-validator==1.1.1
empy==3.3.4a0
entrypoints==0.3
ephem==4.0.0.2
et-xmlfile==1.0.1
eventlet==0.33.0
executing==0.8.2
fail2ban==1.0.2
fastcache==1.1.0
fedora-third-party==0.10
fedpkg==1.44
feedparser==6.0.8
file-magic==0.4.0
filelock==3.3.1
flake8==4.0.1
flaky==3.7.0
Flask==2.0.3
Flask-Babel==2.0.0
Flask-Compress==1.13
Flask-Gravatar==0.5.0
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==3.1.0
Flask-Paranoid==0.2.0
Flask-Principal==0.4.0
Flask-Security-Too==4.1.2
Flask-SocketIO==5.1.2
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
fluidity-sm==0.2.0
fonttools==4.29.1
fros==1.1
fs==2.4.11
fsspec==2022.11.0
fusepy==2.0.4
future==0.18.3
GDAL==3.4.3
git-cola==3.12.0
gitdb==4.0.9
GitPython==3.1.30
gmpy2==2.1.2
gpg==1.17.0
gps==3.23.1
greenlet==1.1.2
gssapi==1.7.2
h5py==3.6.0
hgapi==1.7.4
hgsvn==0.6.0
html2text==2020.1.16
html5lib==1.1
httpagentparser==1.9.2
httplib2==0.20.3
humanize==3.13.1
husl==4.0.3
hyperlink==21.0.0
idna==3.3
ifaddr==0.1.7
imagesize==1.2.0
incremental==21.3.0
inflection==0.5.1
iniconfig==1.1.1
iniparse==0.4
initial-setup==0.3.94
intervaltree==3.1.0
invoke==1.7.0
iotop==0.6
ipykernel==6.6.1
ipython==8.3.0
ipython_genutils==0.2.0
isodate==0.6.1
isort==5.10.1
itsdangerous==2.0.1
jaraco.classes==3.2.1
jaraco.collections==3.0.0
jaraco.functools==3.5.0
jaraco.text==3.2.0
jdcal==1.4.1
jedi==0.18.1
jeepney==0.7.1
jellyfish==0.8.3
Jinja2==3.0.3
jinja2-time==0.2.0
jmespath==1.0.0
joblib==1.2.0
json5==0.9.6
jsonschema==3.2.0
jupyter-client==7.1.2
jupyter-core==4.9.1
jupyter-server==1.13.5
jupyterlab==3.2.9
jupyterlab-pygments==0.1.2
jupyterlab-server==2.10.3
kerberos==1.3.0
keyring==23.9.3
kitchen==1.2.6
kiwisolver==1.4.1
klein==20.6.0
koan==3.0.1
koji==1.32.0
langtable==0.0.61
latexcodec==2.0.1
lazy-object-proxy==1.7.1
ldap3==2.9.1
lexicon==2.0.1
lib389==1.4.0.1
libcomps==0.1.18
libsass==0.20.0
libvirt-python==8.0.0
lightdm-gtk-greeter-settings==1.2.2
LinkChecker==10.1.0
locket==1.0.0
lockfile==0.12.2
lxml==4.7.1
lz4==3.0.2
maildirproc==1.0.1
Mako==1.1.4
manuel==1.11.2
Markdown==3.3.7
markdown2==2.4.7
MarkupSafe==2.1.1
mate-menu==20.4.1
matplotlib==3.5.3
matplotlib-inline==0.1.2
mccabe==0.6.1
mercurial==6.1.4
meson==0.62.2
mistune==0.8.4
mlpack==4.0.1
mmtf-python==1.1.2
mod-wsgi==4.9.0
more-itertools==8.12.0
mpmath==1.2.1
msal==1.18.0b1
msal-extensions==1.0.0
msgpack==1.0.3
msrest==0.7.0
munch==2.5.0
munkres==1.1.2
mypy==0.982
mypy-extensions==0.4.3
mysql-connector-python==8.0.21
mysqlclient==2.1.1
nbclassic==0.3.5
nbclient==0.5.10
nbconvert==6.4.0
nbformat==5.1.3
nest-asyncio==1.5.4
netaddr==0.8.0
netCDF4==1.5.8
netifaces==0.11.0
networkx==2.8.3
nftables==0.1
nose==1.3.7
nose-cover3==0.1.0
nose-testconfig==0.10
notebook==6.4.12
numexpr==2.8.1
numpy==1.22.0
numpydoc==1.1.0
oauthlib==3.0.2
offlineimap==8.0.0
olefile==0.46
onboard==1.4.1
openidc-client==0.7.0
openoffice-python==0.1.post20110209
openpyxl==3.0.3
openshot-qt==3.0.0
osbs-client==1.15.0
OWSLib==0.28.1
packaging==21.3
pandas==1.3.5
pandocfilters==1.5.0
paramiko==2.12.0
parso==0.8.2
partd==1.3.0
passlib==1.7.4
Paste==3.5.0
PasteDeploy==2.1.1
PasteScript==3.2.1
pathspec==0.10.1
pathtools==0.1.2
patiencediff==0.2.2
patsy==0.5.3
pbr==5.6.0
pcp==5.0
pexpect==4.8.0
phply==1.2.5
pickleshare==0.7.5
pid==2.2.3
pika==1.2.1
Pillow==9.1.0
platformdirs==2.3.0
pluggy==1.0.0
ply==3.11
Pmw==2.1.1
podman-compose==1.0.3
portalocker==2.4.0
portend==3.1.0
powerline-status==2.8.3
poyo==0.5.0
productmd==1.35
profilehooks==1.12.0
progressbar2==3.53.2
prometheus-client==0.13.1
prompt-toolkit==3.0.24
protobuf==3.19.4
psutil==5.8.0
psycopg2==2.9.1
ptyprocess==0.6.0
pure-eval==0.2.2
pwinput==1.0.2
pwquality==1.4.4
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybeam==0.7
pycairo==1.21.0
pycodestyle==2.8.0
pycountry==22.3.5
pycparser==2.20
pycrypto==2.6.1
pycups==2.0.1
pycurl==7.45.1
pydocstyle==6.0.0
pyenchant==3.2.2
pyflakes==2.4.0
pygame==2.3.0
pygit2==1.7.1
pyglet==1.5.23
Pygments==2.11.2
PyGObject==3.42.1
pygraphviz==1.9
pygrib==2.1.4
pyinotify==0.9.6
PyJWT==2.4.0
pyke==1.1.1
pykickstart==3.36
pylint==2.13.7
pyls-spyder==0.4.0
pymol==2.5.0
pymongo==3.10.1
Pympler==1.0.1
PyNaCl==1.4.0
PyOpenGL==3.1.5
PyOpenGL-accelerate==3.1.5
pyOpenSSL==21.0.0
pyotp==2.8.0
pyparsing==2.4.7
pyparted==3.12.0
pyproj==3.4.1
PyQt4_sip==4.19.25
PyQt5==5.15.6
PyQt5-sip==12.9.0
PyQtChart==5.15.5
PyQtWebEngine==5.15.4
pyroute2==0.6.12
pyroute2.core==0.6.12
pyroute2.ethtool==0.6.12
pyroute2.ipdb==0.6.12
pyroute2.ipset==0.6.12
pyroute2.ndb==0.6.12
pyroute2.nftables==0.6.12
pyroute2.nslink==0.6.12
pyrsistent==0.18.1
pyserial==3.4
pyshp==2.3.1
PySocks==1.7.1
pystray==0.17.3
pytest==6.2.5
pytest-asyncio==0.16.0
pytest-cov==4.0.0
pytest-timeout==2.1.0
python-augeas==1.1.0
python-bugzilla==3.2.0
python-dateutil==2.8.1
python-dotenv==0.19.2
python-engineio==4.4.0
python-fedora==1.1.1
python-gettext==4.0
python-hglib==2.6.2
python-ldap==3.4.3
python-Levenshtein==0.12.0
python-lsp-black==1.0.0
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.3.3
python-manatools==0.0.4
python-meh==0.50
python-pam==1.8.4
python-ptrace==0.9.8
python-slugify==4.0.1
python-socketio==5.8.0
python-utils==2.5.6
python-xapp==2.2.1
python-xlib==0.33
pytz==2023.3
pyudev==0.22.0
PyX==0.15
pyxdg==0.27
PyYAML==6.0
pyzmq==22.3.0
pyzor==1.1.1
QDarkStyle==3.0.2
qrcode==7.3.1
QScintilla==2.13.0
qstylizer==0.2.0
QtAwesome==1.1.1
qtconsole==5.2.2
QtPy==2.0.0
qtsass==0.3.0
rabbitvcs==0.18
rdflib==5.0.0
rdiff-backup==2.2.4
Recoll==1.34.6
recoll-aspell-python-py3==1.15
recollchm==0.8.4.1+git
regex==2022.10.31
rencode==1.0.6
reportlab==3.6.10
requests==2.28.1
requests-file==1.5.1
requests-ftp==0.3.1
requests-gssapi==1.2.3
requests-kerberos==0.12.0
requests-oauthlib==1.3.0
rope==0.22.0
rpkg==1.66
rpm==4.17.1
rpmautospec==0.3.5
rpmlint==2.4.0
rpy2==3.4.5
rsa==4.8
rss2email==3.13.1
Rtree==0.9.7
ruamel.yaml==0.16.6
ruamel.yaml.clib==0.1.2
rubber==1.5.1
s3cmd==2.3.0
s3transfer==0.5.1
scapy===git-archive.dev8b63d73a17
schema==0.7.5
scikit-learn==1.0.2
scipy==1.8.1
SCons==4.3.0
scour==0.38.2
seaborn==0.11.1
SecretStorage==3.3.1
selenium==3.141.0
selinux==3.3
Send2Trash==1.8.0
sepolicy==3.3
setools==4.4.0
setproctitle==1.2.2
setroubleshoot==3.3.31
sgmllib3k==1.0.0
Shapely==1.8.5
simpleaudio==1.0.4
simplejson==3.17.6
simpleline==1.9.0
singledispatch==3.4.0.3
six==1.16.0
smmap==5.0.0
sniffio==1.2.0
snowballstemmer==1.9.0
sortedcontainers==2.4.0
sos==4.3
soundconverter==4.0.3
soupsieve==2.3.1
speg==0.3
Sphinx==4.4.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
spyder==5.2.1
spyder-kernels==2.2.1
SQLAlchemy==1.4.46
sqlalchemy-migrate==0.13.0
sqlparse==0.4.2
sshtunnel==0.4.0
stack-data==0.1.4
statsmodels==0.13.2
subvertpy==0.10.1
sympy==1.10.1
systemd-python==234
tables==3.7.0
teleport-browserless-login==1.1.8
Tempita==0.5.2
templated-dictionary==1.1
tempora==5.0.0
terminado==0.12.1
terminator==2.1.3
testpath==0.5.0
text-unidecode==1.3
textdistance==4.2.0
texttable==1.6.2
Theano-PyMC==1.1.2
thonny==3.3.14
threadpoolctl==2.0.0
three-merge==0.1.1
tinycss2==1.1.1
toml==0.10.2
tomli==1.2.3
tomli_w==0.4.0
toolz==0.12.0
tornado==6.1
tortoisehg==6.2.3
traitlets==5.1.1
translate-toolkit==3.8.3
Tubes==0.2.0
Twisted==22.4.0
txaio==21.2.1
typed-ast==1.5.4
typing-extensions==3.10.0.2
tzlocal==2.1
ua-parser==0.15.0
ujson==5.7.0
Unidecode==1.2.0
urllib3==1.26.12
urwid==2.1.2
user-agents==2.2.0
veusz==3.4
virtualenv==20.13.4
vobject==0.9.6.1
watchdog==2.1.6
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.3.2
Werkzeug==2.0.3
wrapt==1.14.0
WTForms==3.0.1
wurlitzer==1.0.3
wxGlade==1.0.4
wxPython==4.0.7
xarray==2022.6.0
xcffib==0.11.1
xlrd==2.0.1
xpra==4.4.4
yapf==0.32.0
youtube-dl==2021.12.17
zc.lockfile==2.0
zeroconf==0.38.7
zim==0.75.1
zope.interface==5.4.0
zstandard==0.17.0
